<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


<bean id="student" class="org.ricodev.Student">

<constructor-arg  name="name" value="anerico" />
    <constructor-arg name="regNo" value="c026-01-0969"/>
</bean>
    <bean id="rico" class="org.ricodev.Student">
        <constructor-arg name="name" value="Broo"/>
        <constructor-arg name="regNo" value="c026-01-2333"/>
    </bean>

</beans>
